{% extends 'layout.html' %}

{% block pageTitle %}
  Start page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({

  items: [
    {
      href: "#",
      text: "Home"
    }
  ],
  href: "#",
  text: "NHS services"
}) }}

{% endblock %}

<!-- NHS.UK header -->
{% block header %}
<header class="nhsuk-header" role="banner">
  <div class="nhsuk-header__container">
    <div class="nhsuk-header__logo">
      <a class="nhsuk-header__link" href="/" aria-label="NHS homepage">      
        <svg class="nhsuk-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 16" height="40" width="100">
          <path class="nhsuk-logo__background" fill="#005eb8" d="M0 0h40v16H0z"></path>
          <path class="nhsuk-logo__text" fill="#fff" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
        </svg>
      </a>
    </div>
    <div class="nhsuk-header__content" id="content-header">
      <div class="nhsuk-header__search">
        <div class="nhsuk-header__search-wrap" id="wrap-search">
          <form class="nhsuk-header__search-form" id="search" action="https://www.nhs.uk/search/" method="get" role="search">
            <label class="nhsuk-u-visually-hidden" for="search-field">Search the NHS website</label>
            <input class="nhsuk-search__input" id="search-field" name="search-field" type="search" placeholder="Search" autocomplete="off">
            <button class="nhsuk-search__submit" type="submit">
              <svg class="nhsuk-icon nhsuk-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
              </svg>
              <span class="nhsuk-u-visually-hidden">Search</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="nhsuk-navigation-container">
    <nav class="nhsuk-navigation" id="header-navigation" role="navigation" aria-label="Primary navigation">
      <ul class="nhsuk-header__navigation-list">
        <li class="nhsuk-header__navigation-item">
          <a class="nhsuk-header__navigation-link" href="#">
            Health A-Z
          </a>
        </li>
        <li class="nhsuk-header__navigation-item">
          <a class="nhsuk-header__navigation-link" href="#">
            Live Well
          </a>
        </li>
        <li class="nhsuk-header__navigation-item">
          <a class="nhsuk-header__navigation-link" href="#">
            Mental health
          </a>
        </li>
        <li class="nhsuk-header__navigation-item">
          <a class="nhsuk-header__navigation-link" href="#">
            Care and support
          </a>
        </li>
        <li class="nhsuk-header__navigation-item">
          <a class="nhsuk-header__navigation-link" href=nhsuk-pregnancy>
            Pregnancy
          </a>
        </li>
        <li class="nhsuk-header__navigation-item">
          <a class="nhsuk-header__navigation-link" href="#">
            NHS services
          </a>
        </li>
        <li class="nhsuk-header__navigation-item nhsuk-header__navigation-item--home">
          <a class="nhsuk-header__navigation-link" href="/">
            Home
          </a>
        </li>
        <li class="nhsuk-mobile-menu-container">
          <button class="nhsuk-header__menu-toggle nhsuk-header__navigation-link" id="toggle-menu" aria-expanded="false">
            <span class="nhsuk-u-visually-hidden">Browse</span>
            More
            <svg class="nhsuk-icon nhsuk-icon__chevron-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
              <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
            </svg>
          </button>
          <ul class="nhsuk-header__drop-down nhsuk-header__drop-down--hidden"></ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Refer yourself for NHS pregnancy care
      </h1>

      <p>Use this service to refer yourself to NHS maternity services so you can start your pregnancy care with a midwife if you live in England.</p>
    <p>Pregnancy care (also called antenatal care) is the care you have while you're pregnant to help keep you and your baby as healthy as possible.</p>
  <p> You do not usually need to see a GP. If you're registered with a GP, they'll be told about your pregnancy after your first midwife appointment.</p>

      <p>If you have a long-term condition or are taking medicine, you can refer yourself but you also need to see a GP. This is to discuss any changes to your care.</p>
      
      <h2 class="nhsuk-heading-m">How to refer yourself for NHS pregnancy care</h2>

      <p>When you use this service, you'll need to enter a postcode, town or city to find local NHS trusts with maternity services.
        Most use an online form for you to refer yourself.</p>
      <p> If you cannot refer yourself online, the NHS trust's maternity website will tell you other ways to contact them.</p>
     <p>After you refer yourself, you'll be contacted by the maternity service. They'll book your first midwife appointment, which should happen by the time you're 10 weeks pregnant where possible. </p>
  
     <p> You can cancel your referral at any time.</p>

      <a href="/location-search" class="nhsuk-button">
        Start now
      </a>
    </div>

  </div>  
  {% from 'inset-text/macro.njk' import insetText %}

  {{ insetText({
    html: "<p>Find out about health things you should know in pregnancy to keep you and your baby healthy, including taking folic acid every day, stopping smoking and avoiding alcohol. </p> <p>Find out about common symptoms in pregnancy.</p>"
  }) }}
</div>

  </div>
{% endblock %}
